.alert-fade-enter-active {
    transition: opacity 0.5s ease;
}

.alert-fade-enter-from {
    opacity: 0;
}

.alert-fade-leave-active {
    transform: translateY(-1.5rem);
    transition-duration: 300ms;
    opacity: 0;
}
